.todos {
  margin: 0 -10px;
  }

.todo {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}

.card {
  border:0;
  border-radius: 0;
}

.border-success {
  border-top: 3px solid green;
  
}

.border-non-success {
  border-top: 3px solid red;
}
