.todos {
  margin: 0 -10px;
  }

.todo {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  border-radius: 15px;
}

.card {
  border:0px;
}

.border-success {
  border-top: 3px solid green;
  border-radius: 15px;
}

.border-non-success {
  border-top: 3px solid red;
  border-radius: 15px;
}

.border-in-progress {
  border-top: 3px solid yellow;
  border-radius: 15px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
}

.card-text {
  word-wrap: break-word;
}

.btn {
  margin: 0px;
}

.clear {
  clear: both;
}

.card-footer:last-child {
  border-radius: 0px 0px 15px 15px;
}

.importanceIcon{
  display: inline-flex;
  height: 15px;
  width:15px;
  border-radius:25px;
  background-color: brown;
  margin-bottom: -2px;
}

.dotLow{
  background-color: yellowgreen;
}

.dotMedium {
  background-color: blue;
}

.dotHeight {
  background-color: red;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.goPlus {
  border-top: 1px solid grey;
  border-radius: 15px;
  min-height: 125px;
  text-align: center;
  padding-top: 10px;
}



